<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HUB - Welcome</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{images/favicon.png}">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/style-responsive.css}">
    <link rel="stylesheet" th:href="@{css/animate.min.css}">
    <link rel="stylesheet" th:href="@{css/vertical-rhythm.min.css}">
    <link rel="stylesheet" th:href="@{css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{css/magnific-popup.css}">       
        
    </head>
    <body class="appear-animate">
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            <th:block th:replace="fragments/header :: header" />
            
            <!-- Navigation panel -->
         
            <!-- End Navigation panel -->
            
            
            <!-- Home Section -->
            <section class="home-section">
                <div class="home-section-bg ">
                <div class="container">
                    
                    <!-- Hero Content -->
                    <div class="home-content">
                        <div class="home-text">
                            
                            <h1 class="hs-line-1 font-alt mb-80 mb-xs-30 mt-sm-0 main-heading">
                                YOUR HOPE <b>OUR HELP</b>
                            </h1>
                            <hr>
                            <h1 class="hs-line-1 font-alt mb-80 mb-xs-30 mt-70 mt-sm-0">
                               ABOUT US
                            </h1>

                            <p>
                                Hub offers a digital platform, i.e. both virtual and real stage for artists to showcase their talents to the world. It gives a chance to high
                                potential and fresh talents an attractive career opportunity to develop a professional career into the entertainment industry.Hub
                                provides an online platform for students and teachers to interact with each other virtually. It has created an open space to share
                                knowledge with each other and flow of information to all the students who are eager to learn. A collection of wide range of e-books
                                and audiobooks for students are available in the Hub library, which can be subscribed to, by students as per teacher's advice.
                            </p>

                            <h1 class="hs-line-1 font-alt mb-20 mb-xs-30 mt-70 mt-sm-0">
                                CATEGORIES
                            </h1>

                             <!-- Nav tabs -->
                            <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-0 pt-sm-0 pb-30 pb-sm-0">
                                <li>
                                    <span>Motivation</span>
                                    <a href="#" data-toggle="tab">
                                        <div class="alt-tabs-icon">
                                        <img src="/images/landing/sport-team.png">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <span>Innovation</span>
                                    <a href="#" data-toggle="tab">
                                        <div class="alt-tabs-icon">
                                        <img src="/images/landing/project.png">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <span>Music</span>
                                    <a href="#" data-toggle="tab">
                                        <div class="alt-tabs-icon">
                                        <img src="/images/landing/music.png">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <span>Art</span>
                                    <a href="#" data-toggle="tab">
                                        <div class="alt-tabs-icon">
                                        <img class="art" src="/images/landing/Out line.png">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <span>Dance</span>
                                    <a href="#" data-toggle="tab">
                                        <div class="alt-tabs-icon">
                                        <img class="dance" src="/images/landing/gymnast.png">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Nav tabs -->
                            
                        </div>
                    </div>
                    <!-- End Hero Content -->
                    
                    <!-- Scroll Down -->
                    <div class="local-scroll">
                        <a href="#about" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i></a>
                    </div>
                    <!-- End Scroll Down -->
                    <br><br>
                    
                </div>
                </div>
            </section>
            <!-- End Home Section -->
            <!-- Home Section -->
            <section class="home-section">
                <div class="about-section-bg ">
                <div class="container">
                    
                    <!-- Hero Content -->
                    <div class="home-content">
                        <div class="home-text">
                            
                            <h1 class="hs-line-1 lookup font-alt mb-xs-30 mt-70 mt-sm-0">
                                LOOKING FOR EXCLUSIVE CATEGORIES
                            </h1>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Tellus in metus vulputate eu scelerisque felis. Ac turpis egestas sed tempus urna et pharetra
                                pharetra. Suspendisse faucibus interdum posuere lorem ipsum. Consequat id porta nibh venenatis cras sed
                                felis. A cras semper auctor neque vitae tempus quam. Auctor neque vitae tempus quam pellentesque.
                            </p>

                            <div class="form-group">
                                <button class="submit_btn btn btn-mod btn-medium btn-round">
                                    Register with us
                                </button>
                            </div>
                            
                        </div>
                    </div>
                    <!-- End Hero Content -->
                    
                    <!-- Scroll Down -->
                    <div class="local-scroll">
                        <a href="#about" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i></a>
                    </div>
                    <!-- End Scroll Down -->
                    <br><br><br><br><br><br>
                    <br><br><br><br><br><br><br>
                    <div class="container relative">
                    
                    <!-- Features Grid -->
                    <div class="item-carousel owl-carousel">
                        
                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="./images/landing/img-1.png">
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="./images/landing/img-2.png">
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="./images/landing/img-3.png">
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="./images/landing/img-1.png">
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="./images/landing/img-2.png">
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="./images/landing/img-3.png">
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="./images/landing/img-1.png">
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="./images/landing/img-2.png">
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="./images/landing/img-3.png">
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                    </div>
                    <!-- Features Grid -->
                
                </div>
                <br>
                </div>
                </div>

            </section>
            <!-- End Home Section -->
         
        </div>
        <!-- End Page Wrap -->
        
        
         <!-- JS -->
    <script type="text/javascript" th:src="@{js/jquery-1.11.2.min.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.easing.1.3.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{js/SmoothScroll.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.scrollTo.min.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.localScroll.min.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.viewport.mini.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.countTo.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.appear.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.sticky.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.parallax-1.1.3.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.fitvids.js}"></script>
    <script type="text/javascript" th:src="@{js/owl.carousel.min.js}"></script>
    <script type="text/javascript" th:src="@{js/isotope.pkgd.min.js}"></script>
    <script type="text/javascript" th:src="@{js/imagesloaded.pkgd.min.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.magnific-popup.min.js}"></script>
    <script type="text/javascript" th:src="@{js/wow.min.js}"></script>
    <script type="text/javascript" th:src="@{js/masonry.pkgd.min.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.simple-text-rotator.min.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.lazyload.min.js}"></script>
    <script type="text/javascript" th:src="@{js/all.js}"></script>
    <script type="text/javascript" th:src="@{js/contact-form.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.ajaxchimp.min.js}"></script>
    <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
        
    </body>
</html>
