<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hubapp - Services</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
         <!-- Favicons -->
        <link rel="shortcut icon" href="images/favicon.png"><!--  th:href="@{images/favicon.png}"> --> 

        <!-- CSS -->
        <link rel="stylesheet"  th:href="@{css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{css/style.css}">
        <link rel="stylesheet" th:href="@{css/style-responsive.css}">
        <link rel="stylesheet" th:href="@{css/animate.min.css}">
        <link rel="stylesheet" th:href="@{css/vertical-rhythm.min.css}">
        <link rel="stylesheet" th:href="@{css/owl.carousel.css}">
        <link rel="stylesheet" th:href="@{css/magnific-popup.css}">      
        
    </head>
    <body class="appear-animate">
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            
            <!-- Navigation panel -->
            <th:block th:replace="fragments/header :: header"/>
            <!-- End Navigation panel -->
            
            
            <!-- Head Section -->
            <section class="page-section bg-dark-alfa-70 parallax-3" data-background="images/full-width-images/section-bg-15.jpg">
                <div class="relative container align-left">
                    
                    <div class="row">
                        
                        <div class="col-md-8">
                            <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Services</h1>
                            <div class="hs-line-4 font-alt">
                                We provide the best digital solutions
                            </div>
                        </div>
                        
                        <div class="col-md-4 mt-30">
                            <div class="mod-breadcrumbs font-alt align-right">
                                <a href="#">Home</a>&nbsp;/&nbsp;<span>Services</span>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- End Head Section -->
            
            
            <!-- Features Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <!-- Features Grid -->
                    <div class="row multi-columns-row alt-features-grid">
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-circle-compass"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">Entertainment</h3>
                                <div class="alt-features-descr align-left">
                                    
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-presentation"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">Education</h3>
                                <div class="alt-features-descr align-left">
                                    
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-browser"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">Economy</h3>
                                <div class="alt-features-descr align-left">
                             
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-camera"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">Development</h3>
                                <div class="alt-features-descr align-left">
                                    
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-tools-2"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">Dedication</h3>
                                <div class="alt-features-descr align-left">
                                  
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                       
                                   
                    </div>
                    <!-- End Features Grid -->
                        
                </div>
            </section>
            <!-- End Features Section -->
            
            
            <!-- Call Action Section -->
           <!--  <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="images/full-width-images/section-bg-2.jpg">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <div class="col-sm-6">
                            
                            <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                                <div class="banner-content">
                                    <h3 class="banner-heading font-alt">Looking for exclusive digital services?</h3>
                                    <div class="banner-decription">
                                        Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. 
                                        Integer non dapibus diam, ac eleifend lectus.
                                    </div>
                                    <div>
                                        <a href="#" class="btn btn-mod btn-w btn-medium btn-round">Lets talk</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="col-sm-6 banner-image wow fadeInUp">
                            <img src="images/promo-1.png" alt="" />
                        </div>
                        
                    </div>
                    
                </div>
            </section> -->
            <!-- End Call Action Section -->
            
            
            <!-- Section -->
            <section class="page-section" id="about">
                <div class="container relative">
                    
                    <div class="section-text mb-60 mb-sm-40">
                        <div class="row">
                            
                            <div class="col-sm-6 mb-sm-50 mb-xs-30">
                                
                               <!-- Accordion -->
                                <dl class="accordion">
                                    <dt>
                                        <a href="">BIG PROBLEM</a>
                                    </dt>
                                    <dd>
                                       In the current market Entertainment, Education and Economy sector are highly demanded and not easily accessible to every individual.
Showcasing talents requires astronomically immense financial background or networking in their concrete industry.
Any student who wishes to learn anything requires a great financial background as educational institutions demand donations and high fees structure.
Money management has become a highly arduous job for an individual who doesn’t understand dividing money elegantly to end up with some savings for the better purpose of their lives.
                                    </dd>
                                    <dt>
                                        <a href="">OUR SOLUTION</a>
                                    </dt>
                                    <dd>
                                        HUB will provide a unique platform to individuals with exquisite aptitude and ardency to learn anything to meet their indispensable needs for their better future.
                                    </dd>
                                    <dt>
                                        <a href="">ENTERTAINMENT</a>
                                    </dt>
                                    <dd>
                                      Every individual possesses unique talents which could be art, music, dance, magic etc. these talents when used in an elegant manner with a proper team and a road map to becoming successful artists can change millions of lives on this path.
One successful artist can motivate those millions of unrecognised artist to  achieve a position in their respective industries
HUB provides this opportunity to deserving individuals whose unique talents will be represented amongst the crowd by providing them with a stage to perform and scale their talents from local to national through HUB social media.
Entertainment sectors main objective is to empower the free talent in every individual who is passionate about enriching their talents into a professional career.
Create a physical and virtual stage for entertainers all over the country. Use this traffic to monetize and generate income for content creators both by streaming their talents and performances in physical and virtual stages.
                                    </dd>
                                     <dt>
                                        <a href="">PHYSICAL STAGE</a>
                                    </dt>
                                    <dd>
                                      Every user who has a unique talent will be presented a stage to perform, by this opportunity users will get a place to showcase their talents in front of the crowd and respectively gain public traffic. This traffic could be used to influence, market and promote users profile and their talents.
The content creator will be given an opportunity to showcase their talents locally first and based on the scalability they will be allowed to perform in different cities and once their profiles reach globally. Users will be performing internationally with a crew of their own.
                                    </dd>
                                     <dt>
                                        <a href="">VIRTUAL STAGE</a>
                                    </dt>
                                    <dd>
                                      All performances which are presented in a locality will be streamed online on our own social media which will help users to showcase their brand and increase recognition across the country.
Brand and popularity will help users to monetize their accounts by showing advertisements on their profiles. Users can sell merchandise and any other products related to their specific talents to gain crowd attention and reach their personal goals and objectives.
                                    </dd>
                                </dl>
                                <!-- End Accordion -->
                            </div>
                            
                            <div class="col-sm-6 mb-sm-50 mb-xs-30">
                                 
                                <!-- Accordion -->
                                <dl class="accordion">
                                    <dt>
                                        <a href="">EDUCATION</a>
                                    </dt>
                                    <dd>
                                        Throughout history, people have considered food and shelter to be basic amenities of life and education was always in the dark. In the present world, Education stands out as the most important amenity as it is the right of an individual. The qualification of a person does not necessarily define the standard of an individual but proper education can help individuals achieve heirs goals.
Although education is the right of an individual, one cant afford to pay for schools and college. It costs lakhs of rupees for a student to pay for schools all the way to their higher education.
Desire to learn anything comes from passion and in turn, passion develops from motivation to learn anything by heart. HUB allows students to understand what they desire to learn and give them a path to build a valuable future with passion and ambitious goals towards achieving their goals.
                                    </dd>
                                    <dt>
                                        <a href="">MAIN OBJECTIVE</a>
                                    </dt>
                                    <dd>
                                       Get initiated with different schools and universities, attract young and adult.
The software can bring students and teachers together.
Teachers can share their insights with students like assignments, modules and other topic related to the subject.
HUB profile created by the user can be used as an ID card which gives access to their respective classrooms and it can also help in monitoring attendance.
Ever verified HUB profile ( Profiles which are linked to their respective government ID’s ) will be recognized as an identification card of an individual which can be authorised only by security measures. 
Eg: virtual ID card which can be used as a verified Identification card of an individual.
                                    </dd>
                                    <dt>
                                        <a href="">VIRTUAL CLASSROOMS</a>
                                    </dt>
                                    <dd>
                                        Creating a platform between students and teachers which allows them to interact in live interactive sessions. This platform could potentially help resolve any doubt and clarifications faced by the students.
Give free education to every user and non-profit organization by which they get the freedom to choose what to learn. Students who use the app don’t have to restrict themselves from learning what society wants them to learn.
                                    </dd>
                                                                        <dt>
                                        <a href="">E-BOOKS / AUDIOBOOKS</a>
                                    </dt>
                                    <dd>
                                        HUB will help students in creating a module based on what the teachers have recommended them to help achieve understanding in the subject they wish to learn and perceive as their future ambition.
Users can buy EBooks, audiobooks and any general books online via HUB wallet.
                                    </dd>
                                    
                                                                        <dt>
                                        <a href="">COUNSELLING AND CAREER GUIDANCE</a>
                                    </dt>
                                    <dd>
                                        Creating a platform between students and teachers which allows them to interact in live interactive sessions. This platform could potentially help resolve any doubt and clarifications faced by the students.
Give free education to every user and non-profit organization by which they get the freedom to choose what to learn. Students who use the app don’t have to restrict themselves from learning what society wants them to learn.
                                    </dd>
                                    
                                </dl>
                                <!-- End Accordion -->
                                 
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
                        <!-- Story Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <h2 class="section-title font-alt mb-70 mb-sm-40">
                        Economy
                    </h2>                    
                    
                    <!-- Our Story -->
                    <div class="row">
                        
                        <!-- Col -->
                        
                        <div class="col-sm-8 col-sm-offset-2">
                            
                           			
                            <!-- Tab panes -->
                            <div class="tab-content tpl-minimal-tabs-cont section-text align-center">
                                
                                <div class="tab-pane fade in active" id="mini-one">
                                   The economy sector will include highly demanded areas of economy and finance. As e-commerce has played a majority role in building the future of the economy, the HUB will reinvent the beauty of businesses by instilling software-based transactions in a most convenient way possible. Just by “Swipe and tap” system users can now access all services such as paying bills, shopping, sending and managing money based on their financial preferences.
Users will be able to understand how much and how often they spend money on the daily budget.
Every user will get to choose their preferred budget for a week or month with which 
HUB Wallet will help them create a budget plan which will be used to manage expenditure on groceries, travelling, Food and many more.
Sending money abroad has become an important sector in the e-commerce sector. Users can now send money abroad with fewer interests and more benefits such as vouchers for trips and free coffee etc as a part of the loyalty programme.
<p>The economy sector comprises of :</p>
<p>E-Wallet</p>
<p>Managing money</p>
<p>Paying bills</p>
<p>Sending money to another country</p>
<p>Money transfer</p>
<p>Emergency loans ( short term )</p>
<p>E-commerce</p>
<p>Shopping</p>
<p>Marketplace</p>
                                </div>
                                
                               <!--  <div class="tab-pane fade" id="mini-two">
                                   Hub provides the luxury of paying bills, shopping, sending and managing money based on their financial preferences, just by ‘Swipe and Tap’ system. It will also help manage expenditure on travel, groceries and many more things, which can give a rough idea about daily expenditure. With amazing offers like vouchers on trips, free coffee, sending money to abroad has become more attractive and joyful with Hub.
								</div>
                                
                                <div class="tab-pane fade" id="mini-three">
                                   Hub provides an online platform for students and teachers to interact with each other virtually. It has created an open space to share knowledge with each other and flow of information to all the students who are eager to learn. A collection of wide range of e-books and audiobooks for students are available in the Hub library, which can be subscribed to, by students as per teacher's advice.


								</div> -->
                                
                            </div>
                            
                        </div>
                        
                        <!-- End Col -->                        
                        
                    </div>
                    <!-- End Story -->
                    
                </div>
            </section>
            <!-- End Story Section -->
            
            <!-- Foter -->
             <th:block th:replace="fragments/footer :: footer"/>
            <!-- End Foter -->
            
            
            <!-- Buy Button -->
          <!--   <a href="https://themeforest.net/item/rhythm-multipurpose-onemulti-page-template/10140354" target="_blank" class="buy-button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Buy</span></a> -->
            <!-- End Buy Button -->
        
        
        </div>
        <!-- End Page Wrap -->
        
        
            <!-- JS -->
        <script type="text/javascript" th:src="@{js/jquery-1.11.2.min.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery.easing.1.3.js}"></script>
        <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>        
        <script type="text/javascript" th:src="@{js/SmoothScroll.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery.scrollTo.min.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery.localScroll.min.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery.viewport.mini.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery.countTo.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery.appear.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery.sticky.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery.parallax-1.1.3.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery.fitvids.js}"></script>
        <script type="text/javascript" th:src="@{js/owl.carousel.min.js}"></script>
        <script type="text/javascript" th:src="@{js/isotope.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{js/imagesloaded.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery.magnific-popup.min.js}"></script>
        <script type="text/javascript" th:src="@{js/wow.min.js}"></script>
        <script type="text/javascript" th:src="@{js/masonry.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery.simple-text-rotator.min.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery.lazyload.min.js}"></script>
        <script type="text/javascript" th:src="@{js/all.js}"></script>
        <script type="text/javascript" th:src="@{js/contact-form.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery.ajaxchimp.min.js}"></script>        
        <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
    </body>
</html>
