<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
      <!-- xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> -->
<body>
 <!-- Favicons -->
        <link rel="shortcut icon" th:href="@{images/favicon.png}">

        <!-- CSS -->
        <link rel="stylesheet"  th:href="@{css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{css/style.css}">
        <link rel="stylesheet" th:href="@{css/style-responsive.css}">
        <link rel="stylesheet" th:href="@{css/animate.min.css}">
        <link rel="stylesheet" th:href="@{css/vertical-rhythm.min.css}">
        <link rel="stylesheet" th:href="@{css/owl.carousel.css}">
        <link rel="stylesheet" th:href="@{css/magnific-popup.css}">  
<th:block th:fragment="footer_ui">
    
    <!-- Home Section -->
            <section class="home-section">
                <div class="find-us-section-bg ">
                    <!-- Hero Content -->
                    <div class="home-content">
                        <div class="home-text">
                            
                            <div class="container">
                    
                                 <h1 class="hs-line-1 subscription font-alt mb-80 mb-xs-30 mt-70 mt-sm-0">
                                    FIND US
                                 </h1>

                                 <div class="row mb-60 mb-xs-40">
                        
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="row">
                                            
                                            <!-- Phone -->
                                            <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                                <div class="contact-item">
                                                    <div class="ci-title font-alt">
                                                        <i class="fa fa-phone"></i>
                                                    </div>
                                                    <div class="ci-text">
                                                        +91 8023141717
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Phone -->
                                            
                                            <!-- Address -->
                                            <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                                <div class="contact-item">
                                                    <div class="ci-title font-alt">
                                                        <i class="fa fa-map-marker"></i>
                                                    </div>
                                                    <div class="ci-text">
                                                        HUB APP 537 ,53 Cross,
                                                        3rd, 12th Main Rd, 3rd Block, Rajajinagar,
                                                        Bengaluru, Karnataka 560010
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Address -->
                                            
                                            <!-- Email -->
                                            <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                                <div class="contact-item">
                                                    <div class="ci-title font-alt">
                                                        <i class="fa fa-envelope"></i>
                                                    </div>
                                                    <div class="ci-text">
                                                        <a href="mailto:info@hubapp.co.in">info@hubapp.co.in</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Email -->
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            
                            </div>
                            
                        </div>
                    </div>
                    <!-- End Hero Content -->
                </div>

            </section>
            <!-- End Home Section -->

            <section class="small-section bg-dark">
                <div class="container relative">
                    
                    <div class="align-center">
                        <h3 class="banner-heading font-alt">WANT TO DISCUSS YOUR NEW PROJECT? <a href="#" class="btn btn-mod btn-w btn-medium btn-round check-out">CHECK OUT</a></h3>
                    </div>
                    
                </div>
            </section>

            <footer class="page-section bg-gray-lighter footer pb-60 footer-section-bg">
                <div class="container">
                    
                    
                    <!-- Social Links -->
                    <div class="footer-social-links mb-110 mb-xs-60">
                        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                        <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                    <!-- End Social Links -->  
                    
                    <!-- Footer Text -->
                    <div class="footer-text">
                        
                        <!-- Copyright -->
                        <div class="footer-copy font-alt">
                            <a href="#" target="_blank">© H U B A P P</a>
                        </div>
                        <!-- End Copyright -->
                        
                        <div class="footer-made">
                            Made with love for great people
                        </div>
                        
                    </div>
                    <!-- End Footer Text --> 
                    
                 </div>
                 
                 
                 <!-- Top Link -->
                 <div class="local-scroll">
                     <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
                 </div>
                 <!-- End Top Link -->
                 
            </footer>

            
</th:block>
</body>
</html>