<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HUB</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Favicons -->
        <link rel="shortcut icon" th:href="@{../images/favicon.png}">

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{../css/style.css}">
        <link rel="stylesheet" th:href="@{../css/style-responsive.css}">
        <link rel="stylesheet" th:href="@{../css/animate.min.css}">
        <link rel="stylesheet" th:href="@{../css/vertical-rhythm.min.css}">
        <link rel="stylesheet" th:href="@{../css/owl.carousel.css}">
        <link rel="stylesheet" th:href="@{../css/magnific-popup.css}">        
        
    </head>
    <body class="appear-animate">
    
    <th:block th:fragment="header">
        <!-- <span sec:authentication="principal.username" class="userId_name" id="userId_name"></span> -->
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            
            <!-- Navigation panel -->
            <nav class="main-nav dark transparent stick-fixed">
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <div class="logo-shape"></div>
                        <a href="#top" class="logo">
                            <img src="/images/hub-logo.png" alt="" />
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    <!-- Main Menu -->
                    <div class="centralised-nav inner-nav desktop-nav">
                        <ul class="clearlist scroll-nav local-scroll">
                            <li><a href="/" th:href="@{/user/}" class="mn-has-sub active">FEED</a></li>
                            <li><a href="/" th:href="@{/user/event}">EVENTS</a></li>
                            <li><a href="#"><img src="/images/white-hub-logo.png"></a></li>
                            <li><a href="/" th:href="@{/user/explore}">EXPLORE</a></li>
                            <li><a href="/" th:href="@{/user/profile}">PROFILE</a></li>
                            <li class="search-section">
                                <a href="#">
                                    <!-- Search -->
                                    <div class="form-group">
                                        <input type="text" name="search" id="search" class="input-md round form-control">
                                        <a href="#"><img src="/images/categories/search.png" /></a>
                                        <a sec:authorize="isAuthenticated()" href="#" th:href="@{/logout}"><img src="/images/categories/lock.png" /></a>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navigation panel -->
                       
           
        
        </div>
        <!-- End Page Wrap -->
        
   </th:block>     
        <!-- JS -->
        <script type="text/javascript" th:src="@{../js/jquery-1.11.2.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.easing.1.3.js}"></script>
        <script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>        
        <script type="text/javascript" th:src="@{../js/SmoothScroll.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.scrollTo.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.localScroll.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.viewport.mini.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.countTo.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.appear.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.sticky.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.parallax-1.1.3.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.fitvids.js}"></script>
        <script type="text/javascript" th:src="@{../js/owl.carousel.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/isotope.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/imagesloaded.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.magnific-popup.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/wow.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/masonry.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.simple-text-rotator.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.lazyload.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/all.js}"></script>
        <script type="text/javascript" th:src="@{../js/contact-form.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.ajaxchimp.min.js}"></script>       
        <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
        
    </body>
</html>
