<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hubapp - event</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <!-- <meta name="author" content="https://themeforest.net/user/bestlooker/portfolio"> -->
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Favicons -->
        <link rel="shortcut icon" th:href="@{../images/favicon.png}"> 

        <!-- CSS -->
        <link rel="stylesheet"  th:href="@{../css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{../css/style.css}">
        <link rel="stylesheet" th:href="@{../css/style-responsive.css}">
        <link rel="stylesheet" th:href="@{../css/animate.min.css}">
        <link rel="stylesheet" th:href="@{../css/vertical-rhythm.min.css}">
        <link rel="stylesheet" th:href="@{../css/owl.carousel.css}">
        <link rel="stylesheet" th:href="@{../css/magnific-popup.css}">        
        
    </head>
       <body class="appear-animate">
        
          
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            
             <th:block th:replace="fragments/header_ui :: header"/>
                       
            <!-- Services Section -->
            <section class="page-section event-section">
                <div class="container relative challange-wrapper">
                    
                    <h2 class="section-title font-alt mb-sm-40">
                        <u><b>Hub</b> Challange</u>
                    </h2>  

                    <div class="section-text align-center mb-40 mb-xs-40">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed egestas nunc. Curabitur dictum viverra magna quis congue. In ut nibh in nisl
                        pellentesque viverra. Duis gravida tortor id maximus pulvinar. Proin posuere tortor felis, non placerat mauris eleifend a. Nam et nibh eu enim convallis sodales.
                        In porttitor erat sed nunc eleifend, in feugiat leo faucibus. Phasellus mattis felis vestibulum elit suscipit, condimentum fringilla nibh efficitur. Vivamus ac erat
                        consectetur, maximus elit vel, suscipit nisl. Maecenas varius ante rutrum sem sollicitudin tincidunt. In lobortis purus risus, a consequat purus faucibus eget.
                        Phasellus vel tristique magna. Vivamus sit amet finibus nisi, a sodales dui. Nunc arcu augue, scelerisque id
                    </div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-sm-0 pb-30 pb-sm-0 challange-icons">
                        <li>
                            <a href="#" data-toggle="tab">
                                
                                <div class="alt-tabs-icon">
                                    <img src="/images/categories/music.png">
                                </div>

                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">
                                
                                <div class="alt-tabs-icon">
                                    <img src="/images/categories/comdey.png">
                                </div>

                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">
                                
                                <div class="alt-tabs-icon">
                                    <img src="/images/categories/theater.png">
                                </div>
                                
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">
                                
                                <div class="alt-tabs-icon">
                                    <img src="/images/categories/art.png">
                                </div>
                                
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">
                                
                                <div class="alt-tabs-icon">
                                    <img src="/images/categories/adventure.png">
                                </div>

                            </a>
                        </li>
                    </ul>
                    <!-- End Nav tabs -->
                    <div class="challange-sub-section">
                        <section class="page-section">
                            <div class="container relative">
                                
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="profile-info">
                                            <div class="profile-pic"><img src="/images/challange/profile-pic.png"></div>
                                            <div class="profile-title">
                                                <span>Arvind Krishna</span><br>
                                                @techadvisor
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6 mb-sm-40">
                                        <h3 class="font-alt mb-30 mb-xxs-10"><b>AI</b> changing world</h3>
                                        <!-- Gallery -->
                                        <div class="work-full-media mt-0 white-shadow wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                            <img src="/images/challange/video-img.png" alt="">
                                        </div>
                                        <br>
                                        <!-- End Gallery -->
                                        <ul class="social-links">
                                            <li><a href="#"><img src="/images/challange/like-icon.png"></a></li>
                                            <li><a href="#"><img src="/images/challange/share-icon.png"></a></li>
                                            <li><a href="#"><img src="/images/challange/comment-icon.png"></a></li>
                                            <li><input type="text" name="search" id="search" class="input-md round form-control" placeholder="Write your comment"></li>
                                        </ul>
                                    </div>
                                    
                                    <div class="col-md-5">
                                        <br><br><br>
                                        <!-- About Project -->
                                        <div class="text">
                                            
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed
                                                egestas nunc. Curabitur dictum viverra magna quis congue. In ut nibh in nisl
                                                pellentesque viverra. Duis gravida tortor id maximus pulvinar. Proin posuere
                                                tortor felis, non placerat mauris eleifend a. Nam et nibh eu enim convallis
                                                sodales. In porttitor erat sed nunc eleifend, in feugiat leo faucibus. Phasellus
                                                mattis felis vestibulum elit suscipit, condimentum fringilla nibh efficitur.
                                                Vivamus ac erat consectetur, maximus elit vel, suscipit nisl. Maecenas varius
                                                ante rutrum sem sollicitudin tincidunt. In lobortis purus risus, a consequat
                                                purus faucibus eget. Phasellus vel tristique magna. Vivamus sit amet finibus
                                                nisi, a sodales dui. Nunc arcu augue, scelerisque id facilisis ac, iaculis quis
                                                nunc.
                                            </p>
                                            
                                        </div>
                                        <!-- End About Project -->
                                        
                                    </div>
                                </div>
                            </div>
                        </section>
                        <hr>
                        <section class="page-section">
                            <div class="container relative">
                                
                                <div class="row">
                                    <div class="col-md-12 subscribe-section">
                                        <img src="/images/challange/subscribe.png" alt="">
                                    </div>
                                    
                                </div>
                            </div>
                        </section>
                        <hr>
                        <section class="page-section">
                            <div class="container relative">
                                
                                <div class="row">
                                 
                                    <div class="col-md-5">
                                        
                                        <div class="profile-info">
                                            <div class="profile-pic"><img src="/images/challange/profile-pic.png"></div>
                                            <div class="profile-title">
                                                <span>Arvind Krishna</span><br>
                                                @techadvisor
                                            </div>
                                        </div>
                                        <br>
                                        <div class="text">
                                            <h3 class="font-alt mb-30 mb-xxs-10">LIFE<b> HACKS</b> 2020</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed
                                                egestas nunc. Curabitur dictum viverra magna quis congue. In ut nibh in nisl
                                                pellentesque viverra. Duis gravida tortor id maximus pulvinar. Proin posuere
                                                tortor felis, non placerat mauris eleifend a. Nam et nibh eu enim convallis
                                                sodales. In porttitor erat sed nunc eleifend, in feugiat leo faucibus. Phasellus
                                                mattis felis vestibulum elit suscipit, condimentum fringilla nibh efficitur.
                                                Vivamus ac erat consectetur, maximus elit vel, suscipit nisl. Maecenas varius
                                                ante rutrum sem sollicitudin tincidunt. In lobortis purus risus, a consequat
                                                purus faucibus eget. Phasellus vel tristique magna. Vivamus sit amet finibus
                                                nisi, a sodales dui. Nunc arcu augue, scelerisque id facilisis ac, iaculis quis
                                                nunc.
                                            </p>
                                            
                                        </div>
                                        <!-- End About Project -->
                                        
                                    </div>

                                    <div class="col-md-6">
                                        <!-- Gallery -->
                                        <div class="work-full-media mt-0 white-shadow wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                            <br><br><br><br><br><br><br><br>
                                            <img src="/images/challange/video-img.png" alt="">
                                        </div>
                                        <br>
                                        <!-- End Gallery -->
                                        <ul class="social-links">
                                            <li><a href="#"><img src="/images/challange/like-icon.png"></a></li>
                                            <li><a href="#"><img src="/images/challange/share-icon.png"></a></li>
                                            <li><a href="#"><img src="/images/challange/comment-icon.png"></a></li>
                                            <li><input type="text" name="search" id="search" class="input-md round form-control" placeholder="Write your comment"></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </section>
                    </div>
    
                </div>
            </section>
            <!-- End Services Section -->
        
        </div>
        <!-- End Page Wrap -->
        
        
        <!-- JS -->
        <script type="text/javascript" th:src="@{../js/jquery-1.11.2.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.easing.1.3.js}"></script>
        <script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>        
        <script type="text/javascript" th:src="@{../js/SmoothScroll.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.scrollTo.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.localScroll.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.viewport.mini.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.countTo.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.appear.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.sticky.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.parallax-1.1.3.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.fitvids.js}"></script>
        <script type="text/javascript" th:src="@{../js/owl.carousel.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/isotope.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/imagesloaded.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.magnific-popup.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/wow.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/masonry.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.simple-text-rotator.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.lazyload.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/all.js}"></script>
        <script type="text/javascript" th:src="@{../js/contact-form.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.ajaxchimp.min.js}"></script>        
        <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
        
    </body>
<</html>
