<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hubapp - Posts</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
         <!-- Favicons -->
        <link rel="shortcut icon" th:href="@{../images/favicon.png}"> 

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{../css/style.css}">
        <link rel="stylesheet" th:href="@{../css/style-responsive.css}">
        <link rel="stylesheet" th:href="@{../css/animate.min.css}">
        <link rel="stylesheet" th:href="@{../css/vertical-rhythm.min.css}">
        <link rel="stylesheet" th:href="@{../css/owl.carousel.css}">
        <link rel="stylesheet" th:href="@{../css/magnific-popup.css}">  
             
        
    </head>
    <body class="appear-animate">
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
           <!--  <span sec:authentication="principal.username" class="userId_name" id="userId_name">User</span> -->
            <!-- Navigation panel -->
             <th:block th:replace="fragments/header_user :: header"/>
            <!-- End Navigation panel -->
            
            <!-- End Head Section -->
            <section class="small-section bg-gray-lighter">
                <div class="container relative">
                   <!-- Post Form -->                            
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                             <h2 class="blog-item-title font-alt">Want to Post something!! <a href="/" th:href="@{/user/addposts}">Click Here</a></h2>
                             
                             
                           <!--  <form  th:action="@{user/postweb}" th:object="${postReq}" method="POST" enctype="multipart/form-data" class="form contact-form" id="contact_form">
                                <div class="clearfix">
                                    <input type="hidden" name="docId" id="docId" value="1" class="input-md round form-control" placeholder="Name" pattern=".{3,100}" >
                                    <input type="hidden" name="categoryFinalChildId" id="categoryFinalChildId" value="1" class="input-md round form-control" placeholder="Name" pattern=".{3,100}" >
                                    <div class="cf-left-col">
                                        <input type="hidden" name="postUserId" id="postUserId" value="1" class="input-md round form-control" placeholder="Name" pattern=".{3,100}">
                                        Name
                                        <div class="form-group">
                                            <input type="text" name="postTitle" id="postTitle" class="input-md round form-control" placeholder="Name" pattern=".{3,100}" required>
                                        </div>
                                         Message
                                        <div class="form-group">                                            
                                            <textarea name="postDescription" id="postDescription" class="input-md round form-control" style="height: 84px;" placeholder="Description"></textarea>
                                        </div>
                                        <div class="mb-20 mb-md-10">
                                    <label for="exampleInputFile">
                                        Image
                                    </label>
                                    <input type="file" id="postImage"> id="postImageUrl">
                                    <p class="help-block">
                                        Upload an Image...
                                    </p>
                                </div>
                                        
                                    </div>
                                    
                                    <div class="cf-right-col">
                                        
                                       
                                         <div class="mb-20 mb-md-10">
                                    <select id="categoryId" name="categoryId" class="input-md form-control">
                                            <option value="">Select Category</option>
              								<option th:each="category : ${categories}"
             									       th:value="${category.id}"
              									       th:text="${category.categoryName}"></option>
   									</select>
                                </div>
                                 <div class="mb-20 mb-md-10">
                                    <select id="categoryChildId" name="categoryChildId" class="input-md form-control">
                                        <option value="">Select Child Category </option>
                                    </select>
                                </div>
                                 <div class="mb-20 mb-md-10">
                                    <select id="categorySubChildId" name="categorySubChildId" class="input-md form-control">
                                       <option value="">Select Child Sub Category </option>
                                    </select>
                                </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="clearfix">
                                    
                                    <div class="cf-left-col">
                                        
                                        Inform Tip                                        
                                        <div class="form-tip pt-20">
                                            <i class="fa fa-info-circle"></i> All the fields are required
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="cf-right-col">
                                        
                                        Send Button
                                        <div class="align-right pt-10">
                                            <button type="submit" class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Save Post</button>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                                
                                
                                <div id="result"></div>
                            </form> -->
                            
                        </div>
                    </div>
                    <!-- End Contact Form -->
                    
                </div>
            </section>
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <!-- Content -->
                        <div class="col-sm-8">
                            
                            <!-- Post -->
                            <div class="blog-item">
                                
                                <!-- Post Title -->
                                <h2 class="blog-item-title font-alt"><a href="blog-single-sidebar-right.html">Posts</a></h2>
                                
                                <!-- Author, Categories, Comments -->
                                <div class="blog-item-data">
                                    <a href="#"><i class="fa fa-clock-o"></i> 5 December</a>
                                    <span class="separator">&nbsp;</span>
                                    <a href="#"><i class="fa fa-user"></i> John Doe</a>
                                    <span class="separator">&nbsp;</span>
                                    <i class="fa fa-folder-open"></i>
                                    <a href="">Design</a>, <a href="#">Branding</a>
                                    <span class="separator">&nbsp;</span>
                                    <a href="#"><i class="fa fa-comments"></i> 5 Comments</a>
                                </div>
                                
                                <!-- Media Gallery -->
                                <div class="blog-media">
                                    <ul class="clearlist content-slider">
                                        <li>
                                            <img src="../images/portfolio/full-project-1.jpg" alt="" />
                                        </li>
                                        <li>
                                            <img src="../images/portfolio/full-project-2.jpg" alt="" />
                                        </li>
                                        <li>
                                            <img src="../images/portfolio/full-project-3.jpg" alt="" />
                                        </li>
                                    </ul>
                                </div>
                                
                                <!-- Text Intro -->
                                <div class="blog-item-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non laoreet dui. Morbi lacus massa, euismod ut turpis molestie, tristique sodales est. Integer sit amet mi id sapien tempor molestie in nec massa.
                                    </p>
                                </div>
                                
                                <!-- Read More Link -->
                                <div class="blog-item-foot">
                                    <a href="blog-single-sidebar-right.html" class="btn btn-mod btn-round  btn-small">Read More <i class="fa fa-angle-right"></i></a>
                                </div>
                                
                            </div>
                            <!-- End Post -->
                            
                            <!-- Post -->
                            <div class="blog-item">
                                
                                <!-- Blockquote -->
                                <blockquote class="blog-item-q">
                                    <p>
                                        <a href="blog-single-sidebar-right.html">Curabitur iaculis, ligula facilisis volutpat suscipit, sapien felis tempor, consequat vitae velit.</a>
                                    </p>
                                </blockquote>
                                <!-- End Blockquote -->
                                
                                <!-- Author, Categories, Comments -->
                                <div class="blog-item-data">
                                    <a href="#"><i class="fa fa-clock-o"></i> 5 December</a>
                                    <span class="separator">&nbsp;</span>
                                    <a href="#"><i class="fa fa-user"></i> John Doe</a>
                                    <span class="separator">&nbsp;</span>
                                    <i class="fa fa-folder-open"></i>
                                    <a href="">Design</a>, <a href="#">Branding</a>
                                    <span class="separator">&nbsp;</span>
                                    <a href="#"><i class="fa fa-comments"></i> 5 Comments</a>
                                </div>
                                
                                <!-- Read More Link -->
                                <div class="blog-item-foot">
                                    <a href="blog-single-sidebar-right.html" class="btn btn-mod btn-round  btn-small">Read More <i class="fa fa-angle-right"></i></a>
                                </div>
                                
                            </div>
                            <!-- End Post -->
                            
                            <!-- Post -->
                            <div class="blog-item">
                                
                                <!-- Post Title -->
                                <h2 class="blog-item-title font-alt"><a href="blog-single-sidebar-right.html">Video post only</a></h2>
                                
                                <!-- Author, Categories, Comments -->
                                <div class="blog-item-data">
                                    <a href="#"><i class="fa fa-clock-o"></i> 4 December</a>
                                    <span class="separator">&nbsp;</span>
                                    <a href="#"><i class="fa fa-user"></i> John Doe</a>
                                    <span class="separator">&nbsp;</span>
                                    <i class="fa fa-folder-open"></i>
                                    <a href="">Design</a>, <a href="#">Branding</a>
                                    <span class="separator">&nbsp;</span>
                                    <a href="#"><i class="fa fa-comments"></i> 5 Comments</a>
                                </div>
                                
                                <!-- Media Gallery -->
                                <div class="blog-media">
                                    <iframe width="640" height="360" src="http://www.youtube.com/embed/w2JUhDd0CAA" frameborder="0" allowfullscreen></iframe>
                                </div>
                                
                                <!-- Text Intro -->
                                <div class="blog-item-body">
                                    <p>
                                        Morbi lacus massa, euismod ut turpis molestie, tristique sodales est. Integer sit amet mi id sapien tempor molestie in nec massa.
                                    </p>
                                </div>
                                
                                <!-- Read More Link -->
                                <div class="blog-item-foot">
                                    <a href="blog-single-sidebar-right.html" class="btn btn-mod btn-round  btn-small">Read More <i class="fa fa-angle-right"></i></a>
                                </div>
                                
                            </div>
                            <!-- End Post -->
                            
                            <!-- Post -->
                            <div class="blog-item">
                                
                                <!-- Post Title -->
                                <h2 class="blog-item-title font-alt"><a href="blog-single-sidebar-right.html">Post with text only</a></h2>
                                
                                <!-- Author, Categories, Comments -->
                                <div class="blog-item-data">
                                    <a href="#"><i class="fa fa-clock-o"></i> 4 December</a>
                                    <span class="separator">&nbsp;</span>
                                    <a href="#"><i class="fa fa-user"></i> John Doe</a>
                                    <span class="separator">&nbsp;</span>
                                    <i class="fa fa-folder-open"></i>
                                    <a href="">Design</a>, <a href="#">Branding</a>
                                    <span class="separator">&nbsp;</span>
                                    <a href="#"><i class="fa fa-comments"></i> 5 Comments</a>
                                </div>
                                
                                <!-- Text Intro -->
                                <div class="blog-item-body">
                                    <p>
                                        Suspendisse accumsan interdum tellus, eu imperdiet lacus consectetur sed. Aliquam in ligula ac lacus blandit commodo vel luctus quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eu ultrices mauris. 
                                    </p>
                                </div>
                                
                                <!-- Read More Link -->
                                <div class="blog-item-foot">
                                    <a href="blog-single-sidebar-right.html" class="btn btn-mod btn-round  btn-small">Read More <i class="fa fa-angle-right"></i></a>
                                </div>
                                
                            </div>
                            <!-- End Post -->
                            
                            <!-- Post -->
                            <div class="blog-item">
                                
                                <!-- Post Title -->
                                <h2 class="blog-item-title font-alt"><a href="blog-single-sidebar-right.html">Image post only</a></h2>
                                
                                <!-- Author, Categories, Comments -->
                                <div class="blog-item-data">
                                    <a href="#"><i class="fa fa-clock-o"></i> 3 December</a>
                                    <span class="separator">&nbsp;</span>
                                    <a href="#"><i class="fa fa-user"></i> John Doe</a>
                                    <span class="separator">&nbsp;</span>
                                    <i class="fa fa-folder-open"></i>
                                    <a href="">Design</a>, <a href="#">Branding</a>
                                    <span class="separator">&nbsp;</span>
                                    <a href="#"><i class="fa fa-comments"></i> 5 Comments</a>
                                </div>
                                
                                <!-- Image -->
                                <div class="blog-media">
                                    <a href="blog-single-sidebar-right.html"><img src="../images/portfolio/full-project-4.jpg" alt="" /></a>
                                </div>
                                
                                <!-- Text Intro -->
                                <div class="blog-item-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend. Aliquam ac libero et diam rutrum rutrum. Nullam interdum mattis ipsum at convallis. 
                                    </p>
                                </div>
                                
                                <!-- Read More Link -->
                                <div class="blog-item-foot">
                                    <a href="blog-single-sidebar-right.html" class="btn btn-mod btn-round  btn-small">Read More <i class="fa fa-angle-right"></i></a>
                                </div>
                                
                            </div>
                            <!-- End Post -->
                            
                            <!-- Pagination -->
                            <div class="pagination">
                                <a href=""><i class="fa fa-angle-left"></i></a>
                                <a href="" class="active">1</a>
                                <a href="">2</a>
                                <a href="">3</a>
                                <a class="no-active">...</a>
                                <a href="">9</a>
                                <a href=""><i class="fa fa-angle-right"></i></a>
                            </div>
                            <!-- End Pagination -->
                            
                        </div>
                        <!-- End Content -->
                        
                        <!-- Sidebar -->
                        <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
                            
                            <!-- Search Widget -->
                            <div class="widget">
                                <form class="form-inline form" role="form">
                                    <div class="search-wrap">
                                        <button class="search-button animate" type="submit" title="Start Search">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <input type="text" class="form-control search-field" placeholder="Search...">
                                    </div>
                                </form>
                            </div>
                            <!-- End Search Widget -->
                            
                            <!-- Widget -->
                            <div class="widget">
                                
                                <h5 class="widget-title font-alt">Categories</h5>
                                
                                <div class="widget-body">
                                    <ul class="clearlist widget-menu">
                                        <li>
                                            <a href="#" title="">Branding</a>
                                            <small>
                                                - 7
                                            </small>
                                        </li>
                                        <li>
                                            <a href="#" title="">Design</a>
                                            <small>
                                                - 15
                                            </small>
                                        </li>
                                        <li>
                                            <a href="#" title="">Development</a>
                                            <small>
                                                - 3
                                            </small>
                                        </li>
                                        <li>
                                            <a href="#" title="">Photography</a>
                                            <small>
                                                - 5
                                            </small>
                                        </li>
                                        <li>
                                            <a href="#" title="">Other</a>
                                            <small>
                                                - 1
                                            </small>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                            <!-- End Widget -->
                            
                            <!-- Widget -->
                            <div class="widget">
                                
                                <h5 class="widget-title font-alt">Tags</h5>
                                
                                <div class="widget-body">
                                    <div class="tags">
                                        <a href="">Design</a>
                                        <a href="">Portfolio</a>
                                        <a href="">Digital</a>
                                        <a href="">Branding</a>
                                        <a href="">Theme</a>
                                        <a href="">Clean</a>
                                        <a href="">UI & UX</a>
                                        <a href="">Love</a>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- End Widget -->
                            
                            <!-- Widget -->
                            <div class="widget">
                                
                                <h5 class="widget-title font-alt">Last posts</h5>
                                
                                <div class="widget-body">
                                    <ul class="clearlist widget-posts">
                                        <li class="clearfix">
                                            <a href=""><img src="images/blog/previews/post-prev-1.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Minimalistic Design Forever</a>
                                                Posted by John Doe 7 Mar 
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <a href=""><img src="images/blog/previews/post-prev-2.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Ipsum dolor sit amet, consectetur adipiscing elit</a>
                                                Posted by John Doe 7 Mar 
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <a href=""><img src="images/blog/previews/post-prev-3.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">New Web Design Trends in 2015 year</a>
                                                Posted by John Doe 7 Mar 
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <a href=""><img src="images/blog/previews/post-prev-4.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Hipster’s Style in Web Design and Logo</a>
                                                Posted by John Doe 7 Mar 
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <a href=""><img src="images/blog/previews/post-prev-5.jpg" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Duis tristique condimentum nulla, bibendum consectetu</a>
                                                Posted by John Doe 7 Mar 
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                            <!-- End Widget -->
                            
                            <!-- Widget -->
                            <div class="widget">
                                
                                <h5 class="widget-title font-alt">Comments</h5>
                                
                                <div class="widget-body">
                                    <ul class="clearlist widget-comments">
                                        <li>
                                            John Doe on <a href="#" title="">Lorem ipsum dolor sit amet</a>
                                        </li>
                                        <li>
                                            Emma Johnson on <a href="#" title="">Suspendisse accumsan interdum tellus</a>
                                        </li>
                                        <li>
                                            John Doe on <a href="#" title="">Praesent ultricies ut ipsum</a>
                                        </li>
                                        <li>
                                            Mark Deen on <a href="#" title="">Vivamus malesuada vel nulla vulputate</a>
                                        </li>
                                        <li>
                                            Sam Brin on <a href="#" title="">Aenean auctor egestas auctor</a>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                            <!-- End Widget -->
                            
                            <!-- Widget -->
                            <div class="widget">
                                
                                <h5 class="widget-title font-alt">Text widget</h5>
                                
                                <div class="widget-body">
                                    <div class="widget-text clearfix">
                                        
                                        <img src="images/user-avatar.png" alt="" width="70" class="img-circle left img-left">
                                        
                                        Consectetur adipiscing elit. Quisque magna ante eleifend eleifend. 
                                        Purus ut dignissim consectetur, nulla erat ultrices purus, ut consequat sem elit non sem.
                                        Quisque magna ante eleifend eleifend. 
                                    
                                    </div>
                                </div>
                                
                            </div>                            
                            <!-- End Widget -->
                            
                            <!-- Widget -->
                            <div class="widget">
                                
                                <h5 class="widget-title font-alt">Archive</h5>
                                
                                <div class="widget-body">
                                    <ul class="clearlist widget-menu">
                                        <li>
                                            <a href="#" title="">February 2014</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">January 2014</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">December 2013</a>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                            <!-- End Widget -->
                            
                        </div>
                        <!-- End Sidebar -->
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
            
            
            <!-- Foter -->
            <th:block th:replace="fragments/footer_user :: footer"/>
            <!-- End Foter -->
            
            
            <!-- Buy Button -->
          <!--   <a href="https://themeforest.net/item/rhythm-multipurpose-onemulti-page-template/10140354" target="_blank" class="buy-button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Buy</span></a> -->
            <!-- End Buy Button -->
        
        
        </div>
        <!-- End Page Wrap -->
       
       <!-- JS -->
        <script type="text/javascript" th:src="@{../js/jquery-1.11.2.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.easing.1.3.js}"></script>
        <script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>        
        <script type="text/javascript" th:src="@{../js/SmoothScroll.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.scrollTo.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.localScroll.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.viewport.mini.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.countTo.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.appear.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.sticky.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.parallax-1.1.3.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.fitvids.js}"></script>
        <script type="text/javascript" th:src="@{../js/owl.carousel.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/isotope.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/imagesloaded.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.magnific-popup.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/wow.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/masonry.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.simple-text-rotator.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.lazyload.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/all.js}"></script>
        <script type="text/javascript" th:src="@{../js/contact-form.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.ajaxchimp.min.js}"></script> 
        
        
       <!--  <script th:src="@{../services/childCategory.js}"></script>
        <script th:src="@{../services/childSubCategory.js}"></script>  -->
        <!-- <script type="text/javascript" th:src="@{../js/jquery-3.4.1.js}"></script>  -->
       <!--  <script type="text/javascript" th:src="@{../js/jquery.min.js}"></script>  -->
       <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]--> 
       
       
       
        <!-- Script for dynamic drop down -->
        <script th:inline="javascript">
 $(document).ready(function(){
	 
	/*  $("#contact_form").submit(function(event){
			alert("form submit jquery");
			        // get the form data
			        // there are many ways to get this data using jQuery (you can use the class or id also)
			        var formData = {
			            'postTitle'              : $('input[name=postTitle]').val(),
			            'postDescription'             : $('input[name=postDescription]').val(),
			            'postImage'    : $('input[name=postImage]').val(),
			            'categoryId'    : $('input[name=categoryId]').val(),
			            'categoryChildId'    : $('input[name=categoryChildId]').val(),
			            'categorySubChildId'    : $('input[name=categorySubChildId]').val(),
			            'categoryFinalChildId' :$('input[name=categoryFinalChildId]').val,
			            'postUserId' :$('input[name=postUserId]').val,
			            'docId' :$('input[name=docId]').val
			        };
			        console.log(formData); 
					var uriPost = window.location +"postrestweb";
			        // process the form
			        $.ajax({
			            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
			            url         : uriPost, // the url where we want to POST
			            data        : formData, // our data object
			            dataType    : 'json', // what type of data do we expect back from the server
			                        encode          : true
			        })
			            // using the done promise callback
			            .done(function(data) {

			                // log data to the console so we can see
			                console.log(data); 

			                // here we will handle errors and validation messages
			            });

			        // stop the form from submitting the normal way and refreshing the page
			        event.preventDefault();
			    }); */

	 
	 
	$('#categoryId').on('change', function(){
		
		var id = $(this).val();
		var urichild = window.location+"childCategory/" + id;
		//console.log("URLLLLLLLLLLLLLL"+urichild);
		$.ajax({
			type: "GET",
			url:urichild ,
			success: function(result) {
				//console.log(result);
				if(result != null){
					//console.log(result);
				var s = '<option>Select Child Category</option>';
				for(var i = 0; i < result.length; i++) {
					s += '<option value="' + result[i].id + '">' + result[i].categoryChildName + '</option>';
				}
				//console.log("test");
				$('#categoryChildId').html(s);
			}else{
				console.log("result data empty");
			}
			}
		
		}); 
	});



	$('#categoryChildId').on('change', function(){
		var id = $(this).val();
		var uriSubChild = window.location+"childSubCategory/" + id;
		//console.log(uriSubChild);
		$.ajax({
			type: "GET",
			url:uriSubChild ,
			success: function(result) {
				//var result = JSON.parse(result);
				var s = '<option>Select Child Sub Category</option>';
				for(var i = 0; i < result.length; i++) {
					s += '<option value="' + result[i].id + '">' + result[i].categorySubChildName + '</option>';
				}
				$('#categorySubChildId').html(s);
			}
		});
	});
	/* $('#userId_name').on('load', function(){
	
	}); */

}); 
 
 jQuery(document).ready(function($){
	 
		var username = $('#userId_name').text();
		var uriUserName = window.location+"userId_name/"+ username;
		//console.log(uriUserName);
		$.ajax({
			type: "GET",
			url:uriUserName,
			success: function(result) {
				//var result = JSON.parse(result);
				//console.log(result);
				var s = '';
					s +=result[i].id;
					//console.log(s);
				$('#postUserId').html(s);
			}
		});
	 
 });
 
 

</script>
    </body>
</html>
