<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hubapp - Profile</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <!-- <meta name="author" content="https://themeforest.net/user/bestlooker/portfolio"> -->
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Favicons -->
        <link rel="shortcut icon" th:href="@{../images/favicon.png}"> 

        <!-- CSS -->
        <link rel="stylesheet"  th:href="@{../css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{../css/style.css}">
        <link rel="stylesheet" th:href="@{../css/style-responsive.css}">
        <link rel="stylesheet" th:href="@{../css/animate.min.css}">
        <link rel="stylesheet" th:href="@{../css/vertical-rhythm.min.css}">
        <link rel="stylesheet" th:href="@{../css/owl.carousel.css}">
        <link rel="stylesheet" th:href="@{../css/magnific-popup.css}">        
        
    </head>
    <body class="appear-animate html-profile" >
        <div id="bg">
  <img src="../images/profileImages/background.jpg" alt="">
</div>
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <!-- <div class="page" id="top"><span sec:authentication="principal.username" class="page" id="top">User</span> -->
            
            <!-- Navigation panel -->
        <!--  <th:block th:replace="fragments/header :: header"/> -->
         <th:block th:replace="fragments/header_user :: header"/>
            <!-- End Navigation panel -->
            
            
                       
          <!-- Section -->
          
                
                   <section class="small-section-1">
  <div class="profile-header black">
     <!--  <img  src="http://www.clipartbest.com/cliparts/ace/o9d/aceo9daEi.jpeg" /> -->
     
    <h3>Arvind Krishna</h3></div>
  <div class="profile-header white">
   <h4>@techadvisor</h4>
      <img  src="../images/profileImages/profile.png" />
     
      <div class="profile-desc col-sm-4 mb-40">Sample text</div>
      <div class="profile-button "><input type="button" name="" value="Create Post"></div>
     
  </div> 
                        
                       
         <br/>
                  
                </section>
           
            <!-- End Section -->
            <!-- Section -->
            <section class="small-section bg-gray-lighter pt-20 pb-10 radius">
                <div class="relative container align-left">
                    
                    <div class="row">
                        
                       
                        <div class="inner-nav-1">
                        <div class="works-filter font-alt align-center">
                        <ul class="clearlist">
                         <!-- Works Filter -->                    
                    
                        
                    <!-- End Works Filter -->
                         <li> <a href="#" class="filter active" data-filter="*">All works</a></li>
                              <li> <a href="#branding" class="filter" data-filter=".branding">Branding</a></li>
                            <li><a href="#design" class="filter" data-filter=".design">Design</a></li>
                            <li> <a href="#photography" class="filter" data-filter=".photography">Photography</a></li>
                            </ul>
                           </div>
                        
                      </div>     
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
            
              <section class="page-section">
                <div class="container relative">
                    
                   
                    
                    <!-- Works Grid -->
                    <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">
                        
                        <!-- Work Item (Lightbox) -->
                        <li class="work-item mix photography">
                            <a href="../images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                                <div class="work-img">
                                    <img src="../images/portfolio/projects-1.jpg" alt="Work" />
                                    
                                </div>
                                
                                <div class="work-intro">
                                    <h3 class="work-title">Portrait</h3>
                                    <div class="work-descr">
                                        Lightbox
                                    </div>
                                </div>
                            </a>
                            <div class="profile-footer"></div>
                        </li>
                        <!-- End Work Item -->
                        
                        <!-- Work Item (External Page) -->
                        <li class="work-item mix branding design">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="../images/portfolio/projects-2.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">Vase 3D</h3>
                                    <div class="work-descr">
                                        External Page
                                    </div>
                                </div>
                            </a>
                            <div class="profile-footer"></div>
                        </li>
                        <!-- End Work Item -->
                        
                        <!-- Work Item (External Page) -->
                        <li class="work-item mix branding">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="../images/portfolio/projects-3.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">Boy in T-shirt</h3>
                                    <div class="work-descr">
                                        External Page
                                    </div>
                                </div>
                            </a>
                            <div class="profile-footer"></div>
                        </li>
                        <!-- End Work Item -->
                        
                        <!-- Work Item (External Page) -->
                        <li class="work-item mix design photography">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="../images/portfolio/projects-4.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">Space</h3>
                                    <div class="work-descr">
                                        External Page
                                    </div>
                                </div>
                            </a>
                            <div class="profile-footer"></div>
                        </li>
                        <!-- End Work Item -->
                        
                        <!-- Work Item (External Page) -->
                        <li class="work-item mix design">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="../images/portfolio/projects-5.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">Model</h3>
                                    <div class="work-descr">
                                        External Page
                                    </div>
                                </div>
                            </a>
                            <div class="profile-footer"></div>
                        </li>
                        <!-- End Work Item -->
                        
                        <!-- Work Item (External Page) -->
                        <li class="work-item mix branding">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="../images/portfolio/projects-6.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">Boy in T-shirt</h3>
                                    <div class="work-descr">
                                        External Page
                                    </div>
                                </div>
                            </a>
                            <div class="profile-footer"></div>
                        </li>
                        <!-- End Work Item -->
                        
                        <!-- Work Item (External Page) -->
                        <li class="work-item mix design photography">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="../images/portfolio/projects-7.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">Space</h3>
                                    <div class="work-descr">
                                        External Page
                                    </div>
                                </div>
                            </a>
                            <div class="profile-footer"></div>
                        </li>
                        <!-- End Work Item -->
                        
                        <!-- Work Item (External Page) -->
                        <li class="work-item mix branding">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="../images/portfolio/projects-8.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">Boy in T-shirt</h3>
                                    <div class="work-descr">
                                        External Page
                                    </div>
                                </div>
                            </a>
                            <div class="profile-footer"></div>
                        </li>
                        <!-- End Work Item -->
                        
                        <!-- Work Item (External Page) -->
                        <li class="work-item mix design photography">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="../images/portfolio/projects-9.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">Space</h3>
                                    <div class="work-descr">
                                        External Page
                                    </div>
                                </div>
                            </a>
                            <div class="profile-footer"></div>
                        </li>
                        <!-- End Work Item -->
                        
                        <!-- Work Item (External Page) -->
                        <li class="work-item mix design">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="../images/portfolio/projects-10.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">Model</h3>
                                    <div class="work-descr">
                                        External Page
                                    </div>
                                </div>
                            </a>
                            <div class="profile-footer"></div>
                        </li>
                        <!-- End Work Item -->
                        
                        <!-- Work Item (External Page) -->
                        <li class="work-item mix design">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="../images/portfolio/projects-11.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">Model</h3>
                                    <div class="work-descr">
                                        External Page
                                    </div>
                                </div>
                            </a>
                            <div class="profile-footer"></div>
                        </li>
                        <!-- End Work Item -->
                        
                        <!-- Work Item (Lightbox) -->
                        <li class="work-item mix design branding">
                            <a href="../images/portfolio/full-project-3.jpg" class="work-lightbox-link mfp-image">
                                <div class="work-img">
                                    <img src="../images/portfolio/projects-12.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">Young Man</h3>
                                    <div class="work-descr">
                                        Lightbox
                                    </div>
                                </div>
                            </a>
                            <div class="profile-footer"></div>
                        </li>
                        <!-- End Work Item -->
                        
                    </ul>
                    <!-- End Works Grid -->
                    
                </div>
            </section>
            <!-- End Portfolio Section -->
            <!-- Divider -->
            <hr class="mt-0 mb-0"/>
            <!-- End Divider -->
            
            
            
            
            <!-- Foter -->
          <th:block th:replace="fragments/footer_user :: footer"/>
            <!-- End Foter -->
            
            
            <!-- Buy Button -->
           <!--  <a href="https://themeforest.net/item/rhythm-multipurpose-onemulti-page-template/10140354" target="_blank" class="buy-button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Buy</span></a> -->
            <!-- End Buy Button -->
        
        
        </div>
        <!-- End Page Wrap -->
        
        
        <!-- JS -->
        <script type="text/javascript" th:src="@{../js/jquery-1.11.2.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.easing.1.3.js}"></script>
        <script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>        
        <script type="text/javascript" th:src="@{../js/SmoothScroll.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.scrollTo.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.localScroll.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.viewport.mini.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.countTo.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.appear.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.sticky.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.parallax-1.1.3.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.fitvids.js}"></script>
        <script type="text/javascript" th:src="@{../js/owl.carousel.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/isotope.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/imagesloaded.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.magnific-popup.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/wow.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/masonry.pkgd.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.simple-text-rotator.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.lazyload.min.js}"></script>
        <script type="text/javascript" th:src="@{../js/all.js}"></script>
        <script type="text/javascript" th:src="@{../js/contact-form.js}"></script>
        <script type="text/javascript" th:src="@{../js/jquery.ajaxchimp.min.js}"></script>        
        <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
    </body>
</html>
